<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quick Gym Workouts</title>
    <style>
      body {
        background-color:rgb(233, 243, 243, 0.99);
        font-family: 'Arial', serif;
        color: #333;
        margin: 0;
        padding: 0;
        word-wrap: break-word;
      }

      .button-53, .button-5 {
        padding: 10px 25px;
        font-size: 18px;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        transition: background-color 0.3s ease;
      }

      .button-53 {
        background-color:rgb(20, 15, 15);
        color: white;
      }

      .button-53:hover {
        background-color:rgb(8, 3, 3);
      }

      .button-5 {
        background-color:rgb(8, 5, 5);
        color: white;
      }

      .button-5:hover {
        background-color:rgb(1, 1, 1);
      }

      .button-53 i, .button-5 i {
        margin-right: 8px;
      }
    </style>
  </head>
  <body>
    <div class="body-content">
      <%= yield %>
    </div>
  </body>
</html>
